In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
data=pd.read_csv("C:/Users/deepesh/Downloads/beer-servings.csv")
data.head()

,Unnamed: 0,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,0,Afghanistan,0.0,0.0,0.0,0.0,Asia
1,1,Albania,89.0,132.0,54.0,4.9,Europe
2,2,Algeria,25.0,0.0,14.0,0.7,Africa
3,3,Andorra,245.0,138.0,312.0,12.4,Europe
4,4,Angola,217.0,57.0,45.0,5.9,Africa

In [23]:
data=pd.read_csv("C:/Users/deepesh/Downloads/beer-servings.csv",index_col='Unnamed: 0')
data.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0.0,0.0,0.0,0.0,Asia
1,Albania,89.0,132.0,54.0,4.9,Europe
2,Algeria,25.0,0.0,14.0,0.7,Africa
3,Andorra,245.0,138.0,312.0,12.4,Europe
4,Angola,217.0,57.0,45.0,5.9,Africa

# checking for null values

In [5]:
data.isna().sum()

country                         0
beer_servings                   8
spirit_servings                 8
wine_servings                   6
total_litres_of_pure_alcohol    1
continent                       0
dtype: int64

# replacing null values with median

In [8]:
for i in ['beer_servings','spirit_servings','wine_servings','total_litres_of_pure_alcohol']:
    data[i]=data[i].fillna(data[i].median())

In [10]:
data.isnull().sum()

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

# finding out outliers using IQR

In [11]:
Q1=np.percentile(data['wine_servings'],25,interpolation='midpoint')

In [12]:
Q2=np.percentile(data['wine_servings'],50,interpolation="midpoint")

In [13]:
Q3=np.percentile(data['wine_servings'],75,interpolation="midpoint")

In [14]:
print(Q1)

1.0

In [15]:
print(Q2)

9.0

In [16]:
print(Q3)

59.0

In [17]:
IQR=Q3-Q1
print(IQR)

58.0

In [18]:
low_lim=Q1-1.5*IQR
up_lim=Q3+1.5*IQR

In [19]:
print(low_lim)
print(up_lim)

-86.0
146.0

In [21]:
outlier=[]
for x in data['wine_servings']:
     if((x>up_lim)or(x<low_lim)):
            outlier.append(x)

In [22]:
print(outlier)

[312.0, 221.0, 212.0, 191.0, 212.0, 172.0, 254.0, 278.0, 233.0, 370.0, 149.0, 175.0, 218.0, 185.0, 165.0, 237.0, 271.0, 190.0, 175.0, 339.0, 167.0, 276.0, 186.0, 280.0, 195.0, 220.0]

In [25]:
indx=data['wine_servings']>up_lim
data.loc[indx].index

Int64Index([  3,   6,   8,   9,  16,  35,  42,  48,  55,  61,  64,  65,  67,
             75,  81,  83,  99, 120, 121, 136, 140, 156, 165, 166, 182, 185],
           dtype='int64')