In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data1=pd.read_csv("C:/Users/deepesh/Downloads/car_age_price.csv")
data1.head()

   Year   Price
0  2018  465000
1  2019  755000
2  2019  700000
3  2018  465000
4  2018  465000

In [3]:
data1['Year'].isna().sum()

0

In [4]:
data1['Price'].isna().sum()

0

In [5]:
data1['Year']=data1['Year'].astype(float)

In [6]:
data1['Year'].dtype

dtype('float64')

In [7]:
data1['Price']=data1['Price'].astype(float)

In [8]:
data1['Price'].dtype

dtype('float64')

In [9]:
x=data1.drop('Price',axis=1)
y=data1['Price']

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.20)

# Linear Regression model

In [14]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
model=lr.fit(x_train,y_train)
predictions=model.predict(x_test)

In [12]:
from sklearn.metrics import mean_squared_error,r2_score
print('Mean squared error is:',mean_squared_error(y_test,predictions))
print('R squared value is:',r2_score(y_test,predictions))

Mean squared error is: 4326906256.829671
R squared value is: 0.36759313425902185

# Lasso Regression model

In [13]:
from sklearn.linear_model import Lasso
 
# Train the model
lasso = Lasso(alpha = 1)
lasso.fit(x_train, y_train)
y_pred1 = lasso.predict(x_test)
 
# Calculate Mean Squared Error
mean_squared_error = np.mean((y_pred1 - y_test)**2)
print("Mean squared error on test set", mean_squared_error)
lasso_coeff = pd.DataFrame()
lasso_coeff["Columns"] = x_train.columns
lasso_coeff['Coefficient Estimate'] = pd.Series(lasso.coef_)
 
print(lasso_coeff)

Mean squared error on test set 4326859771.015768
  Columns  Coefficient Estimate
0    Year            47608.1556